.background {
    background: center no-repeat #131723;
}

.logo {
    background-image: url(https://storage.googleapis.com/fpass-content/logo.png);
}

.progressBar {
    background-color: #B43DE7;
}

.splash {
    background: #131723
}

.watermark {
    background-image: url(https://storage.googleapis.com/fpass-content/mobile-logo-97e08b0e-6055-450f-a866-31ab123d9cd3.png);
    background-size: 40px 130px;
}